@font-face {
  font-family: founders-grotesk-bold;
  src: url('/fonts/founders-grotesk-bold.woff2') format("woff2");
  font-display: auto;
}

@font-face {
  font-family: founders-grotesk-medium;
  src: url('/fonts/founders-grotesk-medium.woff2') format("woff2");
  font-display: auto;
}

@font-face {
  font-family: founders-grotesk-light;
  src: url('/fonts/founders-grotesk-light.woff2') format("woff2");
  font-display: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: founders-grotesk-light, sans-serif;
  font-size: 1.2rem;
  color: #fff;
  background-color: #000;
}

.experience {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: founders-grotesk-bold, sans-serif;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.content {
  display: flex;
  max-height: 100vh;
}

/* Left */

.left {
  color: #fff;
  width: 60%;
  height: 100vh;
  padding: 3rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.logo {
  margin-bottom: 3rem;
}

.left-container li {
  margin-bottom: 0.5rem;
}

a.link {
  display: inline-block;
  position: relative;
}

a.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(1);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

a.link:hover::after {
  transform: scaleX(0);
  transform-origin: bottom left;
}

/* Right */

.right {
  flex-grow: 1;
  border-left: 1px solid #ffffff50;
  max-height: 100%;
  overflow-y: scroll;
  backdrop-filter: blur(10px);
}

.projects-list li:not(:last-child) {
  border-bottom: 1px solid #ffffff50;
}

.category-title {
  font-family: founders-grotesk-light, sans-serif;
  opacity: 50%;
  width: 100%;
  padding: 2rem;
}

a.project {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  transition: all .3s;
}

a.project:hover {
  background-color: #fff;
  color: #000;
}

.project-title {
  font-family: founders-grotesk-medium, sans-serif;
}

.project-tools {
  opacity: 50%;
}
